<script src="{:C('WXJSSDK_CDN')}"></script>

<div id="VueBox">
    <wap1-header
            flag="{$HeaderFlag}"
            index_url="{:U('Wap0/Index1/index')}"
            menu_url="{:U('Index/menu')}"
            logout_url="{:U('Index/logout_api')}"
            open_80port="{$config['Open80Port']}"
            use_scan="{$config['UseScan']}"
            server_name="{$_SERVER['SERVER_NAME']}"
            frp_80port_domain="{$config['Frp80PortDomain']}"
            logout_ori_url="{:str_replace($config['OriDomain'],$config['OriDomain'].':'.$config['OriPort'],U('Index/logout_api@'.$config['OriDomain']))}"
            logout_frp_80port_url="{:U('Index/logout_api@'.$config['Frp80PortDomain'])}">
    </wap1-header>
    <cell-group style="margin-top: 40px;" mini>
        <field label="订单号" placeholder="扫码或输入订单号" v-model="StockDetail.strOrderId">
            <div slot="right-icon" style="margin-left: 10px;cursor: pointer;" @click="scanQRCode()">
                <i class="iconfont icon-saomiao4" :style="{'color':iconMode?'#1aad19':'#a9a9a9'}"></i>
            </div>
        </field>
        <field label="订单信息" v-model="StockDetail.strOrderInfo" type="textarea" rows="1" disabled autosize></field>
        <div class="cell-flex-rows">
            <cell title="入库数">
                <input class="rows-item" type="number" v-model="StockDetail.iQty" ref="Qty">
            </cell>
            <cell title="班次">
                <input class="rows-item" v-model="StockDetail.strWorkGorup" onkeyup="this.value=this.value.toUpperCase()">
            </cell>
            <field label="已入库数" v-model="StockDetail.iFinishedQty" disabled></field>
            <field label="传单库区" v-model="StockDetail.strSchArea" disabled></field>
        </div>
        <cell title="库区" placeholder="选择库区" v-if="bMStockArea" @click="showStockAreaSelect = true" is-link>
            <span v-if="StockDetail.strStockArea">{{StockDetail.strStockArea}}</span>
        </cell>
        <cell title="入库日期" placeholder="选择入库日期" @click="$refs.Date.open()" is-link>
            {{datetimeFormat(StockDetail.Date,'yyyy-MM-dd')}}
        </cell>
        <field label="备注" placeholder="输入备注" type="textarea" rows="1" v-model="StockDetail.strRemark" ref="RemarkInput" autosize></field>
    </cell-group>
    <div class="cell-group-btn-box2">
        <button class="btn1" @click="onSubmit()">入库</button>
        <button class="btn2" @click="reset2()">重置</button>
    </div>
    <mt-datetime-picker type="date" :start-date="MinDate" :end-date="MaxDate" v-model="StockDetail.Date" ref="Date"></mt-datetime-picker>
    <transition name="fullpage">
        <div class="diy-select-fullpage" v-if="showStockAreaSelect">
            <div class="empty" v-if="$.isEmptyObject(StockAreaSelect)">
                <img src="__RES__/empty.jpg">
                <p>没有可选择项</p>
            </div>
            <div v-else>
                <div class="item" :class="{'selected':v.StockArea === StockDetail.strStockArea_}" @click="StockDetail.strStockArea_ = v.StockArea" v-for="v in StockAreaSelect">
                    <div class="content">
                        <span>{{v.StockArea}}</span>
                    </div>
                    <label></label>
                </div>
            </div>
            <div class="confirm-btn" @click="StockDetail.strStockArea = StockDetail.strStockArea_;showStockAreaSelect = false">确定</div>
        </div>
    </transition>
    <el-table :data="lists" border stripe height="400" v-if="bSAreaControl">
        <el-table-column label="操作">
            <template slot-scope="ss">
                <el-button size="mini" type="danger" @click="handleSelect(ss.$index,ss.row)">选择</el-button>
            </template>
        </el-table-column>
        <el-table-column prop="StockArea" label="传单库区"></el-table-column>
        <el-table-column prop="LeftQty" label="未装订单数"></el-table-column>
        <el-table-column prop="LeftSArea" label="未装折五面积"></el-table-column>
    </el-table>
</div>

 <script>
     new Vue({
         el: '#VueBox',
         data: {
             iconMode: true,
             lists: null, //下面的装货明细
             aryTemp: null, //临时数据
             StockDetail: {
                 strOrderId: '', //订单号 b1805090001
                 strOrderInfo: '', //订单信息
                 strRemark: '', //备注
                 strStockArea: '',strStockArea_: '', //入库库区
                 strSchArea: '', //传单库区
                 strWorkGorup: '', //班次
                 Date: '{:date(\'Y-m-d\',strtotime($config[\'DirectInStockDate\']))}', //入库日期
                 iQty: null,
                 iFinishedQty: 0
             },
             StockAreaSelect: eval('(' + '{$StockAreaSelect}' + ')'),
             bMStockArea: Number('{$config[\'bMStockArea\']}'),//是否显示库区
             bSAreaControl: Number('{$config[\'bSAreaControl\']}'),//库区控制
             MinDate: new Date('{:date(\'Y-m-d\',strtotime($config[\'DirectInStockMinDate\']))}'),
             MaxDate: new Date('{:date(\'Y-m-d\',strtotime($config[\'DirectInStockMaxDate\']))}'),
             showStockAreaSelect: false
         },
         methods: {
             GetLastSchArea: function (strOrderId) {
                 var _this = this;
                 $.ajax({
                     url: '{:U(\'GetLastSchArea_api\')}',
                     type: 'get',
                     data: {strOrderId: strOrderId},
                     beforeSend: function () {
                         _this.$indicator.open();
                     },
                     success: function (respon) {
                         _this.$indicator.close();
                         var respon = eval('(' + respon + ')');
                         if(respon !== ''){
                             _this.aryTemp = respon;
                             if(_this.aryTemp.length === 0){
                                 _this.StockDetail.strStockArea = _this.StockDetail.strStockArea_ = '';
                             }else{
                                 _this.StockDetail.strStockArea = _this.StockDetail.strStockArea_ = _this.aryTemp[0].StockArea;
                             }
                         }else{
                             _this.StockDetail.strStockArea = _this.StockDetail.strStockArea_ = '';
                         }
                     }
                 });
                 //                 $.ajax({
//                     url: '{$ErpApiPrefix}/GetCommJsonData/LastSchArea/  and b.OrderType+b.OrderId=\'' + strOrderId + '\' and b.FactoryId=\'{$config[\'FactoryId\']}\'//',
//                     type: 'get',
//                     dataType: 'JSON',
//                     success: function(respon) {
//                         if (respon.result[0] !== '') {
//                             _this.aryTemp = JSON.parse(respon.result[0]);
//                             if (_this.aryTemp.length === 0) {
//                                 _this.StockDetail.strStockArea = _this.StockDetail.strStockArea_ = '';
//                             } else {
//                                 _this.StockDetail.strStockArea = _this.StockDetail.strStockArea_ = _this.aryTemp[0].StockArea;
//                             }
//                         } else {
//                             _this.StockDetail.strStockArea = _this.StockDetail.strStockArea_ = '';
//                         }
//                     }
//                 });
             },
             GetOrdSchArea: function (strOrderId) {
                 var _this = this;
                 $.ajax({
                     url: '{:U(\'GetOrdSchArea_api\')}',
                     type: 'get',
                     data: {strOrderId: strOrderId},
                     beforeSend: function () {
                         _this.$indicator.open();
                     },
                     success: function (respon) {
                         _this.$indicator.close();
                         var respon = eval('(' + respon + ')');
                         if(respon !== ''){
                             _this.lists = respon;
                             if(_this.lists.length === 0){
                                 _this.StockDetail.strSchArea = '';
                             }else if(_this.lists.length === 1){
                                 _this.StockDetail.strSchArea = _this.lists[0].StockArea;
                             }else{
                                 //$.toast('该订单有多条传单记录，请选择明细','forbidden');
                             }
                         }else{
                             _this.lists = null;
                             _this.StockDetail.strSchArea = '';
                         }
                     }
                 });
                 //                 $.ajax({
//                     url: '{$ErpApiPrefix}/GetCommJsonData/OrdSchArea/  and s.OrderType+s.OrderId=\'' + strOrderId + '\' and s.FactoryId=\'{$config[\'FactoryId\']}\'//',
//                     type: 'get',
//                     dataType: 'JSON',
//                     success: function(respon) {
//                         if (respon.result[0] !== '') {
//                             _this.lists = JSON.parse(respon.result[0]);
//                             if (_this.lists.length === 0) {
//                                 _this.StockDetail.strSchArea = '';
//                             } else if (_this.lists.length === 1) {
//                                 _this.StockDetail.strSchArea = _this.lists[0].StockArea;
//                             } else {
//                                 //$.toast('该订单有多条传单记录，请选择明细','forbidden');
//                             }
//                         } else {
//                             _this.lists = null;
//                             _this.StockDetail.strSchArea = '';
//                         }
//                     }
//                 });
             },
             scanQRCode: function () {
                 var _this = this;
                 if(_this.iconMode){
                     wx.scanQRCode({
                         needResult: 1,
                         success: function (res) {
                             _this.StockDetail.strOrderId = res.resultStr.split(',')[1];
                         }
                     });
                 }else{
                     $.toast('当前不支持扫码功能','forbidden');
                 }
             },
             onSubmit: function () {
                 var _this = this;
                 if(_this.StockDetail.strOrderInfo === ''){$.toast('请输入有效的订单号','text');return;}
                 if(_this.StockDetail.iQty === 0 || _this.StockDetail.iQty === null){$.toast('请输入有效的入库数','text');return;}
                 if((_this.StockDetail.iQty < 0) && (_this.StockDetail.strRemark === '')){$.toast('入库负数请输入备注','text');return;}
                 if(_this.bSAreaControl){
                     if(_this.StockDetail.strStockArea === ''){$.toast('请选择库区','text');return;}
                     if((_this.lists !== null) && (_this.lists.length > 0)){
                         var bFound = false;
                         for(var i = 0; i < _this.lists.length; i++){
                             if(_this.lists[i].StockArea === _this.StockDetail.strStockArea){
                                 bFound = true;
                                 break;
                             }
                         }
                         if(bFound === true){
                             //如果入库的库区在传单库区中，则传单库区设置为空
                             _this.StockDetail.strSchArea = '';
                         }else{
                             if(_this.StockDetail.strSchArea === ''){
                                 $.toast('入库库区和传单库区不一致,请选择库区后再入库','text');return;
                             }
                         }
                     }else{
                         //如果没有传单数据传单库区也为空
                         _this.StockDetail.strSchArea = '';
                     }
                 }
                 $.ajax({
                     url: '{$ErpApiPrefix}/WebCommon/DirectInStock',
                     type: 'post',
                     data: {
                         iQty: _this.StockDetail.iQty,
                         dInDate: datetimeFormat(_this.StockDetail.Date,'yyyy-MM-dd'),
                         strOrderId: _this.StockDetail.strOrderId,
                         strRemark: _this.StockDetail.strRemark,
                         strWorkGorup: _this.StockDetail.strWorkGorup,
                         strStockArea: _this.StockDetail.strStockArea,
                         strSchArea: _this.StockDetail.strSchArea,
                         strFactoryId: '{$config[\'FactoryId\']}',
                         strUserId: '{$ERPId}'
                     },
                     beforeSend: function () {
                         _this.$indicator.open();
                     },
                     success: function (respon) {
                         _this.$indicator.close();
                         var respon = eval('(' + respon + ')');
                         if(respon.result[1] === false){
                             $.alert(respon.result[0],'入库出错');
                         }else{
                             $.alert('入库成功','',function () {
                                 _this.reset1();
                             });
                         }
                     }
                 });
             },
             reset1: function () {
                 this.StockDetail.strOrderInfo = '';
                 this.lists = null;
                 this.reset3();
             },
             reset2: function () {
                 this.StockDetail.strOrderId = '';
                 this.reset1();
             },
             reset3: function () {
                 this.StockDetail.strStockArea = this.StockDetail.strStockArea_ = '';
                 this.StockDetail.strSchArea = '';
                 this.StockDetail.strRemark = '';
                 this.StockDetail.iQty = null;
                 this.StockDetail.iFinishedQty = 0;
             },
             handleSelect: function (index, row) {
                 this.StockDetail.strSchArea = row.StockArea;
             }
         },
         mounted: function () {
             var _this = this;
             wx.config({
                 debug: false,
                 appId: '{$signPackage.appId}',
                 timestamp: '{$signPackage.timestamp}',
                 nonceStr: '{$signPackage.nonceStr}',
                 signature: '{$signPackage.signature}',
                 jsApiList: ['scanQRCode']
             });
             wx.error(function (res) {
                 //$.toast(res.errMsg,'forbidden');
                 _this.iconMode = false;
             });
         },
         watch: {
             'StockDetail.strOrderId': function () {
                 var _this = this;
                 if (_this.StockDetail.strOrderId.length === 11) {
                     $.ajax({
                         url: '{:U(\'GetOrdInInfo_api\')}',
                         type: 'get',
                         data: {strOrderId: _this.StockDetail.strOrderId},
                         beforeSend: function () {
                             _this.$indicator.open();
                         },
                         success: function (respon) {
                             _this.$indicator.close();
                             var respon = eval('(' + respon + ')');
                             if(respon.ret === '{:C(\'succ_ret\')}'){
                                 _this.StockDetail.strOrderInfo = '订单数:' + respon.data.OrdQty + ' 客户:' + respon.data.CusShortName + ' 规格:' + respon.data.OrderDescr;
                                 _this.StockDetail.iFinishedQty = respon.data.FinishedQty;
                                 if(respon.data.MatName !== '' && respon.data.OrderType === 'x'){
                                     _this.StockDetail.strOrderInfo += ' 货品名称:' + respon.data.MatName;
                                 }
                                 if(_this.bSAreaControl){
                                     _this.GetLastSchArea(_this.StockDetail.strOrderId);
                                     _this.GetOrdSchArea(_this.StockDetail.strOrderId);
                                 }
                                 _this.$refs.Qty.focus();
                             }else{
                                 $.toast(respon.msg,'forbidden',function () {
                                     _this.reset1();
                                 });
                             }
                         }
                     });
                     //                     $.ajax({
//                         url: '{$ErpApiPrefix}/GetCommJsonData/OrdInInfo/  and b.OrderType+b.OrderId=\'' + _this.StockDetail.strOrderId + '\' and b.FactoryId=\'{$config[\'FactoryId\']}\'//',
//                         type: 'get',
//                         dataType: 'JSON',
//                         success: function (respon) {
//                             var tempData = respon.result[0];
//                             if (tempData === '') {
//                                 $.toast('无法定位有效的订单号','forbidden',function () {
//                                     _this.reset1();
//                                 });
//                             } else {
//                                 tempData = JSON.parse(tempData);
//                                 tempData = tempData[0];
//                                 _this.StockDetail.strOrderInfo = '订单数:' + tempData.OrdQty + ' 客户:' + tempData.CusShortName + ' 规格:' + tempData.OrderDescr;
//                                 _this.StockDetail.iFinishedQty = tempData.FinishedQty;
//                                 if ((tempData.MatName !== '') && (tempData.OrderType === 'x')) {
//                                     _this.StockDetail.strOrderInfo += ' 货品名称:' + tempData.MatName;
//                                 }
//                                 if (_this.bSAreaControl) {
//                                     _this.GetLastSchArea(_this.StockDetail.strOrderId);
//                                     _this.GetOrdSchArea(_this.StockDetail.strOrderId);
//                                 }
//
//                                 _this.$refs['Qty'].focus();
//                             }
//                         }
//                     });
                 }
             }
         }
     });
 </script>
