<script src="__RES__/qrcode.min.js"></script>

<div id="VueBox">
    <wap0-header
            flag="{$HeaderFlag}"
            index_url="{:U('Index1/index')}"
            logout_url="{:U('logout_api')}"
            use_board_group="{$config['UseBoardGroup']}"
            use_box_group="{$config['UseBoxGroup']}"
            open_80port="{$config['Open80Port']}"
            use_wxpay="{$config['UseWxPay']}"
            server_name="{$_SERVER['SERVER_NAME']}"
            frp_80port_domain="{$config['Frp80PortDomain']}"
            logout_ori_url="{:str_replace($config['OriDomain'],$config['OriDomain'].':'.$config['OriPort'],U('logout_api@'.$config['OriDomain']))}"
            logout_frp_80port_url="{:U('logout_api@'.$config['Frp80PortDomain'])}">
    </wap0-header>
    <div class="menu-top-container">
        <div class="flag">
            账号&nbsp;<span style="color: #1aad19;">{:session('ERP_Wap0_User.UserName')}</span>
        </div>
        <div class="btn-box">
            <div class="btn" @click="window.location.href = '{:U(\'change_pwd\')}'">
                <i class="iconfont icon-iconfontmima"></i>&nbsp;更改密码
            </div>
            <div class="btn" @click="document.body.classList.add('body-lock');showQrcode = true">
                <i class="iconfont icon-erweima2"></i>&nbsp;登录二维码
            </div>
        </div>
    </div>
    <transition name="fullpage1">
        <div class="qrcode-fullpage" v-show="showQrcode">
            <div id="qrcode"></div>
            <p>当前账号&nbsp;<span style="color: #3cc51f;">{:session('ERP_Wap0_User.UserName')}</span>&nbsp;登录二维码</p>
            <div class="close-btn" @click="document.body.classList.remove('body-lock');showQrcode = false">关闭</div>
        </div>
    </transition>
    <menu-box :lists="lists" right="{$config['Wap0Right']}" ur_name="{$URName}" empty_img="__RES__/empty.jpg"></menu-box>
</div>

<script>
    new Vue({
        el: '#VueBox',
        data: {
            showQrcode: false,
            qrcode: null,
            lists: [
                {URName: '纸板下单',title: '简单纸板下单',href: '{:U(\'Build/s\')}',iconClass: 'icon-mobancaidan',},
                {URName: '纸板下单',title: '纸箱纸板下单',href: '{:U(\'Build/c\')}',iconClass: 'icon-zhixiang',},
                {URName: '纸箱下单',title: '纸箱下单',href: '{:U(\'Build/x\')}',iconClass: 'icon-zhixiang1',},
                {URName: '纸板下单@纸箱下单@淘宝箱下单',title: '微信订单',href: '{:U(\'Weborder/lists\')}',iconClass: 'icon-shouji',},
                {URName: '纸板下单@纸箱下单',title: '常用订单',href: '{:U(\'Usedorder/lists\')}',iconClass: 'icon-dingdan1',},
                {URName: '纸板下单',title: '常用材质',href: '{:U(\'Usedboard/lists\')}',iconClass: 'icon-caizhi',},
                {URName: 'ERP订单',title: 'ERP订单',href: '{:U(\'Order/GetOrders\')}',iconClass: 'icon-erp',},
                {URName: '每日订单',title: '每日订单',href: '{:U(\'Order1/GetOrdersP\')}',iconClass: 'icon-meiri',},
                {URName: '对账单',title: '对账单',href: '{:U(\'Order/GetCusFreeMB\')}',iconClass: 'icon-duizhang',},
                {URName: '报价查询',title: '报价价格',href: '{:U(\'Quo/GetQuoPriceByCus\')}',iconClass: 'icon-jiagechaxun',},
                {URName: '报价查询',title: '报价规则',href: '{:U(\'Quo/GetQuoRuleByCus\')}',iconClass: 'icon-tichengguize',},
                {URName: '信用余额',title: '信用余额',href: '{:U(\'Cred/WGetCusAmt\')}',iconClass: 'icon-xinyongyue',},
            ],
        },
        mounted: function () {
            this.qrcode = new QRCode('qrcode');
            this.qrcode.makeCode('{:U(\'Login/login\',\'\',true,true)}?UserName={:session(\'ERP_Wap0_User.UserName\')}&secret={:md5(session(\'ERP_Wap0_User.UserName\').C(\'md5_salt\'))}');
        }
    });
</script>
