<!-- 引入 swiper 插件 -->
<script src="__RES__/swiper/swiper.min.js"></script>
<link rel="stylesheet" href="__RES__/swiper/swiper.min.css">

<div id="VueBox">
    <wap0-header flag="{$HeaderFlag}"></wap0-header>
    <div class="swiper-container" style="margin-top: 40px;">
        <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="(v,k) in AdverPic">
                <img :src="'__RES__/' + v" style="width: 100%;">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div style="margin: 10px 0;text-align: center;display: flex;">
        <a href="{:U('Index/menu')}" style="flex: 1;">
            <img src="__RES__/kehu.jpg" style="width: 50%;">
            <div style="line-height: 30px;color: #666;font-size: 15px;">我是客户</div>
        </a>
        <a href="{:U('Wap1/Index/menu')}" style="flex: 1;">
            <img src="__RES__/yuangong.jpg" style="width: 50%;">
            <div style="line-height: 30px;color: #666;font-size: 15px;">我是员工</div>
        </a>
        <a href="{:U('contact')}" style="flex: 1;">
            <img src="__RES__/contact.jpg" style="width: 50%;">
            <div style="line-height: 30px;color: #666;font-size: 15px;">联系方式</div>
        </a>
    </div>
    <div style="margin-top: 5px;display: flex;" v-if="UseBoardGroup">
        <div style="margin-right: 1px;flex: 1;position: relative;">
            <img src="__RES__/{$config['BoardGroupPic']}" style="width: 100%;cursor: pointer;" @click="window.location.href = '{:U(\'Group/Board/lists\')}'">
            <div style="line-height: 16px;color: #fff;position: absolute;top: 0;right: 0;">
                <div style="padding: 0 3px;font-size: 12px;background-color: #d51938;float: right;">纸板团购</div>
            </div>
        </div>
        <div style="margin-left: 1px;flex: 1;position: relative;">
            <img src="__RES__/{$config['FlagBoardGroupPic']}" style="width: 100%;cursor: pointer;" @click="window.location.href = '{:U(\'Group/Board/FlagLists\')}'">
            <div style="line-height: 16px;color: #fff;position: absolute;top: 0;right: 0;">
                <div style="padding: 0 3px;font-size: 12px;background-color: #d51938;float: right;">纸板团购（{$config['BoardFlag']}）</div>
            </div>
        </div>
    </div>
    <div :style="{'margin-top':UseBoardGroup?'-5px':'5px'}" style="display: flex;" v-if="UseBoxGroup">
        <div style="margin-right: 1px;flex: 1;position: relative;">
            <img src="__RES__/{$config['BoxGroupPic']}" style="width: 100%;cursor: pointer;" @click="window.location.href = '{:U(\'Group/Box/lists\')}'">
            <div style="line-height: 16px;color: #fff;position: absolute;top: 0;right: 0;">
                <div style="padding: 0 3px;font-size: 12px;background-color: #d51938;float: right;">淘宝箱团购</div>
            </div>
        </div>
        <div style="margin-left: 1px;flex: 1;position: relative;">
            <img src="__RES__/{$config['FlagBoxGroupPic']}" style="width: 100%;cursor: pointer;" @click="window.location.href = '{:U(\'Group/Box/FlagLists\')}'">
            <div style="line-height: 16px;color: #fff;position: absolute;top: 0;right: 0;">
                <div style="padding: 0 3px;font-size: 12px;background-color: #d51938;float: right;">淘宝箱团购（{$config['BoxFlag']}）</div>
            </div>
        </div>
    </div>
    <div style="margin: 0 3px;padding-top: 10px;color: #999;font-size: 14px;text-align: center;border-top: 1px solid #999;">
        杭州利鹏科技有限公司&nbsp;提供技术支持
        <br>联系电话：<a href="tel:18768443628" style="color: #999;">18768443628</a>
    </div>
</div>

<script>
    new Vue({
        el: '#VueBox',
        data: {
            AdverPic: eval('(' + '{$AdverPic}' + ')'),
            UseBoardGroup: Number('{$config[\'UseBoardGroup\']}'),
            UseBoxGroup: Number('{$config[\'UseBoxGroup\']}')
        },
        mounted: function () {
            new Swiper('.swiper-container',{
                autoHeight: true,
                autoplay: {
                    delay: 5000,
                    stopOnLastSlide: false,
                    disableOnInteraction: true
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true
                }
            });
        }
    });
</script>
