<div id="VueBox">
    <wap1-header
            flag="{$HeaderFlag}"
            index_url="{:U('Wap0/Index1/index')}"
            menu_url="{:U('Index/menu')}"
            logout_url="{:U('Index/logout_api')}"
            open_80port="{$config['Open80Port']}"
            use_scan="{$config['UseScan']}"
            server_name="{$_SERVER['SERVER_NAME']}"
            frp_80port_domain="{$config['Frp80PortDomain']}"
            logout_ori_url="{:str_replace($config['OriDomain'],$config['OriDomain'].':'.$config['OriPort'],U('Index/logout_api@'.$config['OriDomain']))}"
            logout_frp_80port_url="{:U('Index/logout_api@'.$config['Frp80PortDomain'])}">
    </wap1-header>
    <div class="filter-box" @click="OpenSlider()">
        <i class="iconfont icon-shaixuan"></i>&nbsp;筛选
    </div>
    <el-table :data="lists" border stripe style="margin-top: 80px;" :height="$(document).height() - 80">
        <el-table-column prop="Cus" label="客户" width="140" fixed></el-table-column>
        <el-table-column prop="Task" label="业务员" width="100"></el-table-column>
        <el-table-column prop="LastMBDate" label="上次结算时间" width="100"></el-table-column>
        <el-table-column prop="LastAmt" label="上期余额" width="100"></el-table-column>
        <el-table-column prop="ConfAmtT" label="确收金额" width="100"></el-table-column>
        <el-table-column prop="AdjustAmt" label="调整金额" width="100"></el-table-column>
        <el-table-column prop="CusPayAmt" label="本期收款" width="100"></el-table-column>
        <el-table-column prop="OrdNeedAmt" label="订单未送" width="100"></el-table-column>
        <el-table-column prop="CurAmt" label="当前欠款" width="100"></el-table-column>
        <el-table-column prop="PreAmt" label="预警金额"></el-table-column>
        <el-table-column prop="MinAmtCond" label="终止金额" width="100"></el-table-column>
        <el-table-column prop="LeftMinAmtCond" label="终止金额剩余" width="100"></el-table-column>
        <el-table-column prop="CurNeedPay" label="当前需付总额" width="100"></el-table-column>
    </el-table>
    <div class="right-aside" :class="{'push':BarVisible}">
        <div class="shadow" @click="CloseSlider(false)"></div>
        <div class="form">
            <div class="rows">
                <div class="row1">
                    <div class="title">客户</div>
                    <div class="input" @click="OpenCusPicker()">{{form.CusId}}</div>
                </div>
                <div class="row1" v-if="!'{$TaskId}'">
                    <div class="title">业务员</div>
                    <input class="input" placeholder="精确查询" v-model="form.TaskId">
                </div>
                <div class="row3">
                    <label for="rememberForm" :class="{'checked':form.rememberForm === 'yes'}"></label>
                    <label for="rememberForm">记住筛选条件(本次登录有效)</label>
                    <input type="checkbox" id="rememberForm" v-model="form.rememberForm" true-value="yes" false-value="no" hidden>
                </div>
            </div>
            <div class="footer">
                <div class="reset" @click="ResetForm()">重置</div>
                <div class="confirm" @click="CloseSlider(true)">确定</div>
            </div>
        </div>
    </div>
    <master-picker :show.sync="CusPickMode"
                   :select-data="CusPickData"
                   :no-data="CusNoData"
                   :loading="CusLoading"
                   @clear="clearCusPicker"
                   @confirm="confirmCusPicker"
                   @close="closeCusPicker"
                   connection>
        <input class="keyword" placeholder="请输入关键词" v-model="CusKeyword">
    </master-picker>
</div>

<script>
    new Vue({
        el: '#VueBox',
        data: {
            form: {
                CusId: '',
                TaskId: '',
                rememberForm: 'no'
            },
            //打开侧边栏前的form对象
            BeforeOpenSliderForm: {},
            BarVisible: false,
            tempTop: 0,
            lists: [],
            //客户Picker
            CusKeyword: '',
            CusPickMode: false,
            CusPickData: {
                columns: 1,
                default: [],
                pData1: []
            },
            CusLoading: true,
            CusNoData: true,
            CusLastPicked: {}
        },
        methods: {
            CusContact: function () {
                var _this = this;
                _this.lists = [];
                $.ajax({
                    url: '{:U(\'CusContact_api\')}',
                    type: 'get',
                    data: {form: _this.form},
                    beforeSend: function () {
                        _this.$indicator.open();
                    },
                    success: function (respon) {
                        _this.$indicator.close();
                        _this.lists = eval('(' + respon + ')');
                    }
                });
            },
            ResetForm: function () {
                this.form = Object.assign({},this.BeforeOpenSliderForm);
            },
            OpenSlider: function () {
                this.BarVisible = true;
                this.tempTop = document.scrollingElement.scrollTop;
                document.body.classList.add('body-lock');
                document.body.style.top = -this.tempTop + 'px';
                this.BeforeOpenSliderForm = Object.assign({},this.form);
            },
            CloseSlider: function (IsClickConfirm) {
                this.BarVisible = false;
                document.body.classList.remove('body-lock');
                document.scrollingElement.scrollTop = this.tempTop;
                if(IsClickConfirm){
                    this.CusContact();
                }else{
                    this.ResetForm();
                }
            },
            //客户Picker
            OpenCusPicker: function () {
                this.CusPickMode = true;
                if(this.CusPickData.pData1.length === 0){
                    this.SearchCus();
                }else{
                    this.CusPickData.default[0] = this.CusLastPicked;
                }
            },
            SearchCus: function () {
                var _this = this;
                _this.CusPickData.default[0] = {};
                _this.CusPickData.pData1 = [];
                _this.CusLoading = true;
                _this.CusNoData = false;
                $.ajax({
                    url: '{:U(\'CusPicker_api\')}',
                    type: 'get',
                    data: {CusKeyword: _this.CusKeyword}
                }).then(function (respon) {
                    _this.CusLoading = false;
                    var respon = eval('(' + respon + ')');
                    var data = [];
                    respon.forEach(function (item,index) {
                        data.push({text: respon[index].CusName,value: respon[index].CusId});
                    });
                    _this.CusPickData.default[0] = data[0];
                    _this.CusPickData.pData1 = data;
                    if (!data[0]) {
                        _this.CusNoData = true;
                    }
                });
            },
            clearCusPicker: function () {
                this.CusPickMode = false;
                this.form.CusId = '';
            },
            confirmCusPicker: function (val) {
                this.CusPickMode = false;
                if(val.select1){
                    this.CusLastPicked = {text: val.select1.text,value: val.select1.value};
                    this.form.CusId = val.select1.value;
                }
            },
            closeCusPicker: function (val) {
                if(val.select1){
                    this.CusLastPicked = {text: val.select1.text,value: val.select1.value};
                }
            }
        },
        mounted: function () {
            this.form = Object.assign({},this.form,eval('(' + '{$rememberForm}' + ')'));
            this.CusContact();
        },
        watch: {
            CusKeyword: function () {
                this.SearchCus();
            }
        }
    });
</script>
