<div id="VueBox">
    <wap1-header
            flag="{$HeaderFlag}"
            index_url="{:U('Wap0/Index1/index')}"
            menu_url="{:U('Index/menu')}"
            logout_url="{:U('Index/logout_api')}"
            open_80port="{$config['Open80Port']}"
            use_scan="{$config['UseScan']}"
            server_name="{$_SERVER['SERVER_NAME']}"
            frp_80port_domain="{$config['Frp80PortDomain']}"
            logout_ori_url="{:str_replace($config['OriDomain'],$config['OriDomain'].':'.$config['OriPort'],U('Index/logout_api@'.$config['OriDomain']))}"
            logout_frp_80port_url="{:U('Index/logout_api@'.$config['Frp80PortDomain'])}">
    </wap1-header>
    <div class="tab-filter-box">
        <div class="tab">
            <div @click="changeTab('1')" :class="{'active':IsPay === '1'}">
                <i class="iconfont icon-shoukuan"></i>&nbsp;收款
            </div>
            <div @click="changeTab('0')" :class="{'active':IsPay === '0'}">
                <i class="iconfont icon-neibutiaozhang"></i>&nbsp;调账
            </div>
        </div>
        <div class="separator"></div>
        <div class="filter" @click="OpenSlider()">
            <i class="iconfont icon-shaixuan"></i>&nbsp;筛选
        </div>
    </div>
    <el-table :data="lists" border stripe style="margin-top: 80px;" :height="$(document).height() - 80">
        <el-table-column prop="Cus" label="客户" width="140" fixed></el-table-column>
        <el-table-column prop="Checked" label="审核">
            <template slot-scope="ss">
                <i class="iconfont icon-yigouxuan" style="color: #3cc51f;" v-if="ss.row.Checked === '1'"></i>
            </template>
        </el-table-column>
        <el-table-column prop="PayId" label="单号" width="100"></el-table-column>
        <el-table-column prop="OpDate" label="操作日期" width="100"></el-table-column>
        <el-table-column prop="IssueDate" label="生效日期" width="100"></el-table-column>
        <el-table-column prop="Amount" label="金额" width="100"></el-table-column>
        <el-table-column prop="Remark" label="备注" width="150"></el-table-column>
        <el-table-column prop="NeedInv" label="需开票">
            <template slot-scope="ss">
                <i class="iconfont icon-yigouxuan" style="color: #3cc51f;" v-if="ss.row.NeedInv === '1'"></i>
            </template>
        </el-table-column>
        <el-table-column prop="ShortName" label="科目" width="80"></el-table-column>
        <el-table-column prop="Task" label="业务员" width="100"></el-table-column>
        <el-table-column prop="ReceiptNo" label="收据编号" width="100"></el-table-column>
    </el-table>
    <div class="right-aside" :class="{'push':BarVisible}">
        <div class="shadow" @click="CloseSlider(false)"></div>
        <div class="form">
            <div class="rows">
                <div class="row1">
                    <div class="title">客户</div>
                    <div class="input" @click="OpenCusPicker()">{{form.CusId}}</div>
                </div>
                <div class="row1" v-if="!'{$TaskId}'">
                    <div class="title">业务员</div>
                    <input class="input" placeholder="精确查询" v-model="form.TaskId">
                </div>
                <div class="row2">
                    <div class="title">日期类型</div>
                    <label :class="{'checked':form.DateType === 'OpDate'}">
                        操作日期<input type="radio" value="OpDate" v-model="form.DateType" hidden>
                    </label>
                    <label :class="{'checked':form.DateType === 'IssueDate'}">
                        生效日期<input type="radio" value="IssueDate" v-model="form.DateType" hidden>
                    </label>
                </div>
                <div class="row1">
                    <div class="title">开始日期</div>
                    <div class="input" @click="$refs.BeginDate.open()">{{datetimeFormat(form.BeginDate,'yyyy-MM-dd')}}</div>
                </div>
                <div class="row1">
                    <div class="title">结束日期</div>
                    <div class="input" @click="$refs.EndDate.open()">{{datetimeFormat(form.EndDate,'yyyy-MM-dd')}}</div>
                </div>
                <div class="row2">
                    <div class="title">科目</div>
                    <label :class="{'checked':form.PayType === v}" v-for="v in PayType">
                        {{v}}<input type="radio" :value="v" v-model="form.PayType" hidden>
                    </label>
                </div>
                <div class="row3">
                    <label for="rememberForm" :class="{'checked':form.rememberForm === 'yes'}"></label>
                    <label for="rememberForm">记住筛选条件(本次登录有效)</label>
                    <input type="checkbox" id="rememberForm" v-model="form.rememberForm" true-value="yes" false-value="no" hidden>
                </div>
            </div>
            <div class="footer">
                <div class="reset" @click="ResetForm()">重置</div>
                <div class="confirm" @click="CloseSlider(true)">确定</div>
            </div>
        </div>
    </div>
    <mt-datetime-picker type="date" :start-date="MinDate" :end-date="MaxDate" v-model="form.BeginDate" ref="BeginDate"></mt-datetime-picker>
    <mt-datetime-picker type="date" :start-date="MinDate" :end-date="MaxDate" v-model="form.EndDate" ref="EndDate"></mt-datetime-picker>
    <master-picker :show.sync="CusPickMode"
                   :select-data="CusPickData"
                   :no-data="CusNoData"
                   :loading="CusLoading"
                   @clear="clearCusPicker"
                   @confirm="confirmCusPicker"
                   @close="closeCusPicker"
                   connection>
        <input class="keyword" placeholder="请输入关键词" v-model="CusKeyword">
    </master-picker>
</div>

<script>
    new Vue({
        el: '#VueBox',
        data: {
            IsPay: '{$rememberTab}'?'{$rememberTab}':'1',
            form: {
                CusId: '',
                TaskId: '',
                DateType: 'OpDate',
                BeginDate: '{:date(\'Y-m-d\',strtotime($config[\'RecAdjustBeginDate\']))}',
                EndDate: '{:date(\'Y-m-d\',strtotime($config[\'RecAdjustEndDate\']))}',
                PayType: eval('{$PayType}')[0],
                rememberForm: 'no'
            },
            MinDate: new Date('{:date(\'Y-m-d\',strtotime($config[\'RecAdjustMinDate\']))}'),
            MaxDate: new Date('{:date(\'Y-m-d\',strtotime($config[\'RecAdjustMaxDate\']))}'),
            //打开侧边栏前的form对象
            BeforeOpenSliderForm: {},
            BarVisible: false,
            tempTop: 0,
            PayType: eval('{$PayType}'),
            lists: [],
            //客户Picker
            CusKeyword: '',
            CusPickMode: false,
            CusPickData: {
                columns: 1,
                default: [],
                pData1: []
            },
            CusLoading: true,
            CusNoData: true,
            CusLastPicked: {}
        },
        methods: {
            RecAdjust: function () {
                var _this = this;
                _this.lists = [];
                _this.form.BeginDate = datetimeFormat(_this.form.BeginDate,'yyyy-MM-dd');
                _this.form.EndDate = datetimeFormat(_this.form.EndDate,'yyyy-MM-dd');
                $.ajax({
                    url: '{:U(\'RecAdjust_api\')}',
                    type: 'get',
                    data: {
                        IsPay: _this.IsPay,
                        form: _this.form
                    },
                    beforeSend: function () {
                        _this.$indicator.open();
                    },
                    success: function (respon) {
                        _this.$indicator.close();
                        var respon = eval('(' + respon + ')');
                        if(respon.ret === '{:C(\'succ_ret\')}'){
                            _this.lists = respon.data;
                        }else{
                            $.toast(respon.msg,'forbidden');
                        }
                    }
                });
            },
            changeTab: function (value) {
                if(this.IsPay !== value){
                    this.IsPay = value;
                    this.RecAdjust();
                }
            },
            ResetForm: function () {
                this.form = Object.assign({},this.BeforeOpenSliderForm);
            },
            OpenSlider: function () {
                this.BarVisible = true;
                this.tempTop = document.scrollingElement.scrollTop;
                document.body.classList.add('body-lock');
                document.body.style.top = -this.tempTop + 'px';
                this.BeforeOpenSliderForm = Object.assign({},this.form);
            },
            CloseSlider: function (IsClickConfirm) {
                this.BarVisible = false;
                document.body.classList.remove('body-lock');
                document.scrollingElement.scrollTop = this.tempTop;
                if(IsClickConfirm){
                    this.RecAdjust();
                }else{
                    this.ResetForm();
                }
            },
            //客户Picker
            OpenCusPicker: function () {
                this.CusPickMode = true;
                if(this.CusPickData.pData1.length === 0){
                    this.SearchCus();
                }else{
                    this.CusPickData.default[0] = this.CusLastPicked;
                }
            },
            SearchCus: function () {
                var _this = this;
                _this.CusPickData.default[0] = {};
                _this.CusPickData.pData1 = [];
                _this.CusLoading = true;
                _this.CusNoData = false;
                $.ajax({
                    url: '{:U(\'CusPicker_api\')}',
                    type: 'get',
                    data: {CusKeyword: _this.CusKeyword}
                }).then(function (respon) {
                    _this.CusLoading = false;
                    var respon = eval('(' + respon + ')');
                    var data = [];
                    respon.forEach(function (item,index) {
                        data.push({text: respon[index].CusName,value: respon[index].CusId});
                    });
                    _this.CusPickData.default[0] = data[0];
                    _this.CusPickData.pData1 = data;
                    if (!data[0]) {
                        _this.CusNoData = true;
                    }
                });
            },
            clearCusPicker: function () {
                this.CusPickMode = false;
                this.form.CusId = '';
            },
            confirmCusPicker: function (val) {
                this.CusPickMode = false;
                if(val.select1){
                    this.CusLastPicked = {text: val.select1.text,value: val.select1.value};
                    this.form.CusId = val.select1.value;
                }
            },
            closeCusPicker: function (val) {
                if(val.select1){
                    this.CusLastPicked = {text: val.select1.text,value: val.select1.value};
                }
            }
        },
        mounted: function () {
            this.form = Object.assign({},this.form,eval('(' + '{$rememberForm}' + ')'));
            this.RecAdjust();
        },
        watch: {
            CusKeyword: function () {
                this.SearchCus();
            }
        }
    });
</script>
